*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 35px;
}
/* header and navigation styles */

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800;
 font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* banner */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 45px;

}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.header{
    background: #ffff83;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles */
.about{
    margin-top: 130;
    border-radius: 10px;
    background: #ffff83;
    padding: 130px 150px;

 
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;

}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}